#回到顶部{ 

display:block;  

width:60px; 

height:60px;

position:fixed;  

bottom:50px;  

right:40px; 

border-radius:10px 10px 10px 10px;   

text-decoration:none;  

display:none;  

background-color:#999999;     

}
#回到顶部 span{ 

display:block; 

width:60px; 

color:#dddddd; 

} 

#回到顶部 span:hover{ 

color:#cccccc; 

} 

#gotop span{ 

font-size:40px; 

text-align:center; 

margin-top:4px; 

}